/* Telefono */
@media (max-width: 768px) {
  body {
    width: 95%;
    height: auto;
    flex-direction: column;
  }

  .search-bar {
    width: 100%;
    font-size: 12px;
  }

  .material p {
    font-size: 24px;
    text-align: center;
  }

  .material .next {
    width: 50%;
    height: 100px;
  }

  .next img {
    width: 70px;
  }
}
